#homeBlok {
    padding: 155px 0;
}

#containerblok {
    width: 1400px;
    margin: 0 auto;
}

#image {
    border-radius: 33px;
}

#list {
    font-size: 44px;
    width: 1258px;
    color: #fff;
    margin-top: -680px;
    padding: 39px 71px;
}

#contactblok {
    width: 1137px;
    padding: 40px 32px;
    margin: 0 auto;
    border-radius: 24px;
    background-color: #EBF8FE;
    margin-top: 590px;
}

#contact {
    text-align: center;
}

#contacttext {
    width: 100%;
    font-size: 32px;
    color: #535862;
    line-height: 44px;
}

#form {}

#formBlok {
    width: 488px;
    margin: 0 auto;
}

#inputsubmit {
    background-color: #007CB8;
    padding: 12px 18px;
    color: #FFFFFF;
    border: 2px solid #FFF;
    border-radius: 8px;
    margin-left: 24px;
}

#inputtype {
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #D5D7DA;
    color: #717680;
}

#inputtext {
    color: #535862;
    font-size: 14px;
}

#link {
    color: #535862;
}

#submitForm {
    width: 546px;
    border-radius: 24px;
    background-color: #EBF8FE;
    padding: 40px 32px;
    margin: 0 auto;
    margin-top: 115px;
}

#inputname,
#inputEmail {
    margin-top: 8px;
    display: block;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #380054;
    width: 482px;
    font-size: 14px;
    margin-bottom: 24px;
}

#firstRadio,
#secondRadio,
#thirdRadio,
#firstCheckbox,
#secondCheckbox,
#thirdCheckbox,
#fourthCheckbox {
    margin-right: 10px;
}